@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #0D062D;
  transition: all 0.3s ease-in-out;
}

.label::before{
  content: "";
  background-color: #34CAA5 ;
  width: 30px;
  height: 30px;
  padding: 6.5px 7.5px;
  margin:0 auto;
  inset: 0;
  top: 10px;
  border-radius: 50%;
  position: absolute;
}

input:checked + .label::before{
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}

.label, .label::before{
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}